<%- model_class = Award -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "#{model_class.model_name.human} Import") %></h1>
</div>

<%= form_tag import_awards_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import", :class => 'btn-primary' %>
<% end %>